<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="editProfile()">
        <ion-icon slot="start" src="assets/icons/edit.svg"></ion-icon>
        Edit
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" style="max-width: 600px; padding-top: 15px;">
    <profile-card displayFlat="true" [avatarUrl]="profile?.photoURL || defaults.avatarUrl" [coverPhotoUrl]="profile?.coverPhotoURL"
      [coverBgColor]="defaults.coverPhotoBgColor" [title]="profile?.displayName || 'Guest User'" [subTitles]="subTitles">
      <ion-list lines="none">
        <ion-item href="tel:{{profile?.phoneNumber}}" button="true">
          <ion-icon slot="start" color="primary" src="/assets/icons/call.svg"></ion-icon>
          <ion-label>
            <h2>Phone</h2>
            <p>{{ profile?.phoneNumber || 'Not Available' }}</p>
            <ion-note>{{ !!profile?.isPublic ? "Others can see your phone number" : "Others cannot see your phone number" }}</ion-note>
          </ion-label>
        </ion-item>
      </ion-list>
    </profile-card>
  </div>
</ion-content>

<app-tabs></app-tabs>