<ion-header class="ion-no-border">
  <!-- <ion-progress-bar *ngIf="isLoading" type="indeterminate" color="light" mode="ios"
    style="position: absolute; z-index: 1999;">
  </ion-progress-bar> -->
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Archaka Ads</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="openNotifications()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge slot="end" *ngIf="notificationCount > 0">{{ notificationCount }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container" style="max-width: 600px; padding-top: 15px;">

    <photo-slides-card [slides]="slides" showPager="false" isZoomable="false"></photo-slides-card>

    <ion-grid class="connectionsgrid">
      <ion-row style="background-color: white;">
        <ion-col class="connections ion-activatable">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-grid (click)="invite()">
            <ion-row>
              <ion-col>
                <ion-icon name="share-social-outline" class="connectionicon"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Invite<br />Others
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col class="connections groups ion-activatable">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-grid (click)="rateThisApp()">
            <ion-row>
              <ion-col>
                <ion-icon name="star-outline" class="connectionicon"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Rate<br />This App
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col class="connections groups ion-activatable">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-grid (click)="writeFeedback()">
            <ion-row>
              <ion-col>
                <ion-icon src="assets/icons/letter.svg" class="connectionicon"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                Write<br />Feedback
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="row" style="padding-top: 15px;">

      <!-- <ng-container *ngFor="let post of sortedPosts">

        <ion-button (click)="openPost(post.id)">{{ post.name }}</ion-button>

      </ng-container> -->

      <ng-container *ngFor="let post of sortedPosts">

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" [id]="post.id">
          <archaka-post-card [post]="post" (onOptionsClick)="showOptions($event)"
            *ngIf="!!post.isActive && !!post.isVerified"></archaka-post-card>
        </div>

      </ng-container>

      <ng-container *ngIf="page.empty | async">

        <div id="noitemscontainer">
          <ion-icon src="/assets/icons/noinbox.svg" style="font-size: 32px;"></ion-icon>
          <p>No Active Ads</p>
        </div>

      </ng-container>

    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size='small' (click)="addNew()" color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-item lines="none" color="light" *ngIf="isLoading">
    <ion-spinner name="lines" style="margin: auto;"></ion-spinner>
  </ion-item>

  <ion-infinite-scroll [disabled]="isEndOfPageReached" threshold="10px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-item *ngIf="isEndOfPageReached" lines="none" color="light">
    <ion-note>* End of Page *</ion-note>
  </ion-item>

</ion-content>

<app-tabs></app-tabs>