ion-note {
  width: 100%;
  text-align: center;
  margin: auto;
}

#noitemscontainer {
  text-align: center;
  margin: auto;
  margin-top: 50px;
  /* position: absolute; */
  /* left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%); */
}

#noitemscontainer strong {
  font-size: 20px;
  line-height: 26px;
}

#noitemscontainer p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#noitemscontainer ion-icon {
  color: #8c8c8c;
}

#noitemscontainer a {
  text-decoration: none;
}

.dangerbutton {
  color: bar(--ion-color-danger);
}

ion-content {
  --background: var(--ion-color-light,#f4f5f8)!important;
}

ion-col {
  margin: 0px;
}

.connections {
  background: white;
  text-align: center;
  margin: auto;
}

.groups {
  border-left: 1px solid lavender;
}

.connectionsgrid {
  border-top: 20px solid white;
  border-bottom: 20px solid white;
  padding: 0px;
  margin-top: 10px;
  text-align: center;
  color: var(--ion-color-primary);
}

.connectionhint {
  background: white;
  font-size: 12px;
  text-align: left;
  border-bottom: 15px solid white;
  color: lightslategray;
}

.connectionicon {
  font-size: 32px;
}
