<ion-header class="ion-no-border">
  <!-- <ion-progress-bar *ngIf="isLoading" type="indeterminate" color="light" mode="ios"
    style="position: absolute; z-index: 1999;">
  </ion-progress-bar> -->
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'Archaka Ads' | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="openNotifications()">
        <ion-icon name="notifications"></ion-icon>
        <ion-badge slot="end" *ngIf="notificationCount > 0">{{ notificationCount }}</ion-badge>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container" style="max-width: 600px; padding-top: 15px;">

    <photo-slides-card [slides]="slides" showPager="false" isZoomable="false"></photo-slides-card>

    <div class="containerforlanguages">
      &nbsp;<ion-text class="ion-text-center margin">{{ 'Choose your language...' | translate }}</ion-text>
      <div class="scroll" scrollX="true">
        <ion-chip outline="true" class="hchip" style="margin-left: 0px;"
          [ngStyle]="{ 'background-color': currentLanguage === 'en' ? 'wheat' : 'inherit' }" (click)="chooseLang('en')">
          <ion-label>English</ion-label>
        </ion-chip>
        <ion-chip outline="true" class="hchip"
          [ngStyle]="{ 'background-color': currentLanguage === 'te' ? 'wheat' : 'inherit' }" (click)="chooseLang('te')">
          <ion-label>తెలుగు</ion-label>
        </ion-chip>
        <ion-chip outline="true" class="hchip"
          [ngStyle]="{ 'background-color': currentLanguage === 'ta' ? 'wheat' : 'inherit' }" (click)="chooseLang('ta')">
          <ion-label>தமிழ்</ion-label>
        </ion-chip>
        <ion-chip outline="true" class="hchip"
          [ngStyle]="{ 'background-color': currentLanguage === 'kn' ? 'wheat' : 'inherit' }" (click)="chooseLang('kn')">
          <ion-label>ಕನ್ನಡ</ion-label>
        </ion-chip>
        <ion-chip outline="true" class="hchip" style="margin-right: 0px;"
          [ngStyle]="{ 'background-color': currentLanguage === 'hi' ? 'wheat' : 'inherit' }" (click)="chooseLang('hi')">
          <ion-label>हिन्दी</ion-label>
        </ion-chip>
      </div>
    </div>

    <ion-grid class="connectionsgrid">
      <ion-row style="background-color: white;">
        <ion-col class="connections ion-activatable">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-grid (click)="invite()">
            <ion-row>
              <ion-col>
                <ion-icon name="share-social-outline" class="connectionicon"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col [innerHtml]="'INVITE_OTHERS' | translate:{value:'info'}"></ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col class="connections groups ion-activatable middlegroup">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-grid (click)="rateThisApp()">
            <ion-row>
              <ion-col>
                <ion-icon name="star-outline" class="connectionicon"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col [innerHtml]="'RATE_THIS_APP' | translate:{value:'info'}"></ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
        <ion-col class="connections groups ion-activatable">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-grid (click)="writeFeedback()">
            <ion-row>
              <ion-col>
                <ion-icon src="assets/icons/letter.svg" class="connectionicon"></ion-icon>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col [innerHtml]="'WRITE_FEEDBACK' | translate:{value:'info'}"></ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="row" style="padding-top: 15px;">

      <!-- <ng-container *ngFor="let post of sortedPosts">

        <ion-button (click)="openPost(post.id)">{{ post.name }}</ion-button>

      </ng-container> -->

      <ng-container *ngFor="let post of sortedPosts">

        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12" [id]="post.id">
          <archaka-post-card [post]="post" (onOptionsClick)="showOptions($event)"
            *ngIf="!!post.isActive && !!post.isVerified"></archaka-post-card>
        </div>

      </ng-container>

      <ng-container *ngIf="page.empty | async">

        <div id="noitemscontainer">
          <ion-icon src="/assets/icons/noinbox.svg" style="font-size: 32px;"></ion-icon>
          <p>No Active Ads</p>
        </div>

      </ng-container>

    </div>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size='small' (click)="addNew()" color="primary">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-item lines="none" color="light" *ngIf="isLoading">
    <ion-spinner name="lines" style="margin: auto;"></ion-spinner>
  </ion-item>

  <ion-infinite-scroll [disabled]="isEndOfPageReached" threshold="10px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-item *ngIf="isEndOfPageReached" lines="none" color="light">
    <ion-note>* End of Page *</ion-note>
  </ion-item>

</ion-content>

<app-tabs></app-tabs>